VITE_TCC_API_BASE=/api
VITE_TCC_CHANNEL=lab
VITE_TCC_DATASET_NOW=2026-03-31T10:43:04
VITE_TCC_NOMINAL_VOLTAGE=127
VITE_TCC_VOLTAGE_LOWER_LIMIT=117
VITE_TCC_VOLTAGE_UPPER_LIMIT=133
VITE_TCC_ENERGY_COST_RATE=5.45
VITE_TCC_REVENUE_MULTIPLIER=8.2
VITE_TCC_CACHE_TTL_MS=300000
VITE_TCC_PERSISTENT_CACHE_TTL_MS=21600000
VITE_TCC_REQUEST_TIMEOUT_MS=10000
VITE_TCC_BUSINESS_REQUEST_TIMEOUT_MS=25000
VITE_TCC_BUSINESS_COMPARISON_CONCURRENCY=2
VITE_TCC_DEBUG=0
